.icono img{
 width: 50%;
 height: 80%;
 margin-left: 40px;
}
.pago {
    height: 400px;
    margin-top: 30px;
}
.exito{
    height: 300px;
    margin: 30px;
    box-shadow: rgb(204, 200, 200);

}
.niños img{
    width: 70%;
    height: 80%;
    margin-top: 40px;
   }