<div class="container-lg">
    <div class="md-card">
        
        <div class="pago md-card-body">
          <div class="exito row shadow">
            <div class="icono col-6 text-center ">
                <img class="block-center rounded" src="assets/img/pagoexitoso.jpg" alt="Image" />
            </div>
            <div class="col-lg-6 ">
                <div class="card-body">
                    <h2 class="my-3 text-center">SU DONACIÓN FUE EXITOSA</h2>
                    <H3 class="my-3 text-center">Muchas Gracias!</H3>
                    <div class= "niños my-3 text-center">
                        <img class="block-center rounded" src="assets/img/logoniños.png" alt="Image" />
                    </div>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>
