.btn{
    background:#F13E4B;
    border-color:#F13E4B;
    border-radius: 10px;
    color: white;
    
  }

h2{
    font-size: 20px;
   }
   .imagen img{
       padding: 40px;
       margin-top: 20px;
   }
   .boton {
       width:60%;
       background: #F13E4B;
       border-color:#F13E4B ;
       border-radius: 10px;
       font-size: 100%;
       margin-top: 20%;
   }
   .form-group{
       padding-left: 50px;
   }
   .anonima {
       
       font-size: 15px;
       font-weight: bold;
   }
   .cuadro{
       padding-left: 30px;
   }