.container{
background-color: white;
border-radius: 3px;
border-color: rgb(241, 240, 240);
}
h2{
 font-size: 40px;
}
.imagen img{
    padding: 40px;
    margin-top: 20px;
}
.btn{
    width:60%;
    background: #F13E4B;
    border-color:#F13E4B ;
    border-radius: 10px;
    font-size: 120%;
    margin-top: 20%;
}
.form-group{
    padding-left: 50px;
}
.anonima {
    
    font-size: 15px;
    font-weight: bold;
}
.cuadro{
    padding-left: 30px;
}