.h4{
font-size: 20px;
font-weight: bold;
padding-top: 30px;
}
p{
 padding-top: 10px;
}
.btn1{
    background: #F13E4B;
    border-color:#F13E4B ;
    border-radius: 5px;
    width: 20%;
    margin-top: 20px;
}