.wrapper{
    margin-top: 50px;
}
.card-header {
    background: black;
    
   
}
.card-header img{
    height: 250%;
    width: 40%;
}
.btn{
    background:#F13E4B;
    border-color:#F13E4B;
    border-radius: 10px;
    color: white;
  }